*{
  margin : 0; 
  padding :0;
}
html,body{
  height: 100%;
}

/* team image */
.imagecontainer{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://source.unsplash.com/1268x700/?team");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imagecontainer img {  
  filter: opacity(60%);
  overflow: hidden;
 }

 /* our team */
 h1{
  z-index: 2;
  text-align: center;
  font-size: 100px;
 }

ul.our-team li {
  list-style: none;
  color: #222121;
  display: inline;
  letter-spacing: 15px;
  animation: pre-load 3s linear infinite;
}


/* animated bg */
#container {
  height: 100%;
  overflow: auto;
  position: relative;
  touch-action: none;
}

/* teams */
.teams-container{
  display: grid;
}

.grid-items{
  grid-row:1;
  grid-column: 1;
 }

.team{
  z-index: 2;
}
.team h1{
  padding: 2rem 0rem;
}

/* animation */
@keyframes pre-load {
  
  0% {
    color: black;
    text-shadow: none;
  }
  
  20% {
    color: black;
    text-shadow: none;
  }
  
  40% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
  
  60% {
    color: black;
    text-shadow: none;
  }
  
  80% {
    color: black;
    text-shadow: none;
  }
  
  100% {
    color: black;
    text-shadow: none;
  }
  
}

ul li:nth-child(1) {
  animation-delay: .2s;
}

ul.our-team li:nth-child(2) {
  animation-delay: .4s;
}

ul.our-team li:nth-child(3) {
  animation-delay: .6s;
}

ul.our-team li:nth-child(5) {
  animation-delay: .8s;
}

ul.our-team li:nth-child(6) {
  animation-delay: 1s;
}

ul.our-team li:nth-child(7) {
  animation-delay: 1.2s;
}

ul.our-team li:nth-child(8) {
  animation-delay: 1.4s;
}

@media screen and (max-width: 980px) {
  
  ul.our-team li {
    font-size: 30px;
    letter-spacing: 0;
  }
  
}

