*{
  margin : 0; 
  padding :0;
}
html,body{
  height: 100%;
}

/* team image */
.imagecontainer{
  display: grid;
  place-items: center;
}

.imagecontainer img {  
  overflow: auto;
 }

 h1{
  text-align: center;
  font-size: 100px;
 }

 .grid-items{
  grid-row:1;
  grid-column: 1;
 }

/* animated bg */
#container {
  height: 100%;
  overflow: auto;
  position: relative;
  touch-action: none;
}

/* teams */
.teams-container{
  display: grid;
}
.team{
  z-index: 2;
}
.team h1{
  padding: 2rem 0rem;
}
