*{
  margin : 0; 
  padding :0;
}
html,body{
  height: 100%;
}

/* team image */
.imagecontainer{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("https://source.unsplash.com/1268x700/?team");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.imagecontainer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 251, 251, 0.5); /* Adjust the last value (0.5) for opacity */
}

.flex-item-1, .flex-item-2{
  flex: 100%;
  text-align: center;
  z-index: 2;
}

.flex-item-1 h1{
  /* font-size: 100px; */
  font-size: 7.5vmax;
  padding-top: 10vh;
}
 /* our team */


ul.our-team li {
  list-style: none;
  color: #222121;
  display: inline;
  letter-spacing: 15px;
  animation: pre-load 3s linear infinite;
}

/* animation for 'OUR TEAM' */
@keyframes pre-load {
  
  0% {
    color: black;
    text-shadow: none;
  }
  
  20% {
    color: black;
    text-shadow: none;
  }
  
  40% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
  
  60% {
    color: black;
    text-shadow: none;
  }
  
  80% {
    color: black;
    text-shadow: none;
  }
  
  100% {
    color: black;
    text-shadow: none;
  }
  
}

ul li:nth-child(1) {
  animation-delay: .2s;
}

ul.our-team li:nth-child(2) {
  animation-delay: .4s;
}

ul.our-team li:nth-child(3) {
  animation-delay: .6s;
}

ul.our-team li:nth-child(5) {
  animation-delay: .8s;
}

ul.our-team li:nth-child(6) {
  animation-delay: 1s;
}

ul.our-team li:nth-child(7) {
  animation-delay: 1.2s;
}

ul.our-team li:nth-child(8) {
  animation-delay: 1.4s;
}

@media screen and (max-width: 980px) {
  
  ul.our-team li {
    font-size: 35px;
    letter-spacing: 0;
  }
  
}

/* Scroll icon */
.scroll{
  text-align: center;
  background: linear-gradient(90deg,#f23812, rgb(203, 6, 85), #cb0349, #043aa6, #018094, #015f52);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20.3px;
  height: 8.3vmax;
  /* height: 18%; */
  display: block;
  
}
.scroll>a>img{
  height: 100%;
}


/* Up-Down scroll animation */
.scroll {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: upDown;
}

@keyframes upDown {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}


/* animated bg */
#container {
  height: 100%;
  overflow: auto;
  position: relative;
  touch-action: none;
}

/* teams */
.teams-container{
  display: grid;
  padding-bottom: 50px;
}

.grid-items{
  grid-row:1;
  grid-column: 1;
 }

.team{
  z-index: 2;
}

.team h1{
  text-align: center;
  /* padding: 1rem 0rem; */
  color:honeydew;
  font-size: 3.5vmax;
  margin: 8vmax 0 5vmax 0;
  background: linear-gradient(90deg,rgb(242, 55, 18, 0.65), rgb(203, 6, 85, 0.65), rgb(201, 3, 72, 0.65), rgb(5, 58, 163, 0.65), #018094, rgb(0, 97, 84, 0.65));
  outline: 1px solid grey;
  outline-offset: 7px;
}

/* cards border */

div.card-team{
  background-color: rgb(128, 128, 128, 0.15);
  padding: 4.5vmax 0;
}

.card-section-webd .card{
  border: 0.2rem solid #fff;
  box-shadow: 0 0 .1rem #fff,
            0 0 .1rem #fff,
            0 0 1rem #bc13fe,
            0 0 0.4rem #bc13fe,
            0 0 1.3rem #bc13fe,
            inset 0 0 0.3rem #bc13fe;
  animation: pulsate 3s linear infinite ;
}
@keyframes pulsate {
    
  100% {

      box-shadow:
      0 0 5px #fff,
      0 0 6px #fff,
      0 0 12px #fff,
      0 0 13px #bc13fe,
      0 0 15px #bc13fe,
      0 0 25px #bc13fe,
      0 0 30px #bc13fe,
      0 0 40px #bc13fe;
  
  }
  
  0% {

    box-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 3px #bc13fe,
    0 0 5px #bc13fe,
    0 0 15px #bc13fe,
    0 0 20px #bc13fe,
    0 0 30px #bc13fe;

}
}

/* utility class for gradient border */
/* Animated border 1 */
.gradient-border {
  --borderWidth: 5px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 1s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Hover effect 1 ( + border ) */
.neon-animation-1 {
  position: relative;
  border: none;
  z-index: 2;
  padding: 5px;
  border-radius: 5px;
}
.neon-animation-1:before,
.neon-animation-1:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21%;
  border: 5px solid;
  border-radius: 4px;
  z-index: -1;
  transition: all 0.3s ease;  
}
.neon-animation-1:before{
   top: 0;
   left: 0;
   border-bottom-color: transparent;
   /* border-right-color: transparent; */
   border-right-color: aqua;
   border-top-color: aqua;
   border-left-color: aqua;
   box-shadow: 0 0 18px aqua;
}
.neon-animation-1:after{
   bottom: 0;
   right: 0;
   border-top-color: transparent;
   border-left-color: aqua;
   border-bottom-color:aqua;
   border-right-color: aqua;

   box-shadow: 0 0 18px aqua;
}
.neon-animation-1:hover:before,
.neon-animation-1:hover:after {
  border-color:rgb(40, 252, 252);
  height: 100%;
  width: 100%;
  box-shadow: 0 0 22px rgb(40, 252, 252);
}

/* ------------------------------------ */
/* Hover effect 2 */
.neon-animation-2 {
  background: #21ebff;
  line-height: 42px;
  padding: 0;
}
.neon-animation-2:hover{
  background: transparent;
  color: #21ebff;
  transition:all 0.5s ease;
}
.neon-animation-2:before,
.neon-animation-2:after{
  content:'';
  position:absolute;
  top:0;
  z-index: 3;
  right:0;
  height:5px;
  background: #21ebff;
  width:0;
  box-shadow:  0 0 17px #21ebff,  0 0 17px #21ebff;
  border-radius:5px;
  transition:400ms ease all;
}
.neon-animation-2:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;  
}
.neon-animation-2:hover:before,
.neon-animation-2:hover:after{
  background: transparent;
  height: 100%;
  width:100%;
  transition:400ms ease all;
}

/* ---------------------------- */
/* Animated border 2 */
.animate-border:before, .animate-border:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 350%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 350% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.animate-border:after {
	filter: blur(35px);
}

.animate-border:hover{ /* another way of hover and background (animate-border: for border)*/
  box-shadow:  0 0 20px #d9e1e2,  0 0 17px #c4f2f2;
  color: white;
}

/* Backfround */
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(61, 54, 54, 0.4);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

/* .teams-container{
  background:linear-gradient(45deg, rgb(120, 69, 120), rgb(106, 64, 137), rgb(50, 50, 106), rgb(56, 106, 56), rgb(100, 100, 50), rgb(120, 100, 63),rgb(122, 65, 65))
} */